@model InformationTechnologiesDepartmentIS.Models.FormProjectDeliveryCertificate

@{
    ViewBag.Title = "ProjectDeliveryCertificateFormDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container py-4">
    <form class="myform col col-sm-12 col-md-12 col-xl-8 bg-white mx-auto" id="myform">
        <table class="table table-bordered align-middle min-vh-100" style="width:auto;  border-color:black">
            <tr style="height:1em">
                <td colspan="2"><img src="~/Content/images/Logo.png" width="100%" alt="Logo"></td>
                <td class="fw-bold h3" style="color: rgb(39,39,128); text-align: center;">PROJE TESLİM TUTANAĞI</td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Program Adı</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent h-100 w-100 text-dark" type="text" id="programName" name="programName" value="@Model.GraduationProject.Program.ProgramName" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Öğrenci Numarası</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent h-100 w-100 text-dark" type="text" id="studentNumber" name="studentNumber" value="@Model.GraduationProject.Student.StudentNumber" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Adı Soyadı</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent w-100 text-dark" type="text" id="nameSurname" name="nameSurname" value="@Model.GraduationProject.Student.StudentFirstName @Model.GraduationProject.Student.StudentLastName" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Proje Başlığı</td>
                <td colspan="2">
                    <textarea rows="3" class="border-0 bg-transparent w-100 text-dark align-middle" style="resize:none" id="title" name="title" disabled>@Model.GraduationProject.Title</textarea>
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Proje Teslim Tarih</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent text-dark" type="text" id="deliveryDate" name="deliveryDate" value="@Model.DeliveryDate.ToString("dd.MM.yyyy")" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Proje Yazılım Dili</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent text-dark" type="text" id="projectLanguage" name="projectLanguage" value="@(Model.IsEnglish == true ? "English" : "Turkish")" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Öğrenci İmza</td>
                <td>
                    <input class="border-0 bg-transparent text-dark" type="text" id="chairmanDate" name="chairmanDate" value="" disabled />
                </td>
                <td>
                    İmza :
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Yukarıda adı ve soyadı yazılı öğrencinin istenen formatta hazırlanan projesi kontrol edilmiş olup Lisansüstü
                    Eğitim Enstitüsü’ne teslimi uygundur.
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Proje Danışmanının Ünvanı, Adı ve Soyadı</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent w-100 text-dark" type="text" id="consultantName" name="consultantName" value="@Model.GraduationProject.Academician.AcademicianFirstName @Model.GraduationProject.Academician.AcademicianLastName" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">E-mail</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent w-100 text-dark" type="text" id="e-mail" name="e-mail" value="@Model.GraduationProject.Academician.AcademicianEmail" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Telefon</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent w-100 text-dark" type="text" id="telephone" name="telephone" value="@Model.GraduationProject.Academician.RoomNo" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Onay Tarihi</td>
                <td>
                    <input class="border-0 bg-transparent text-dark" type="text" id="cnsltntDate" name="cnsltntDate" value="" disabled />
                </td>
                <td>
                    İmza:
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Lisansüstü Eğitim Enstitüsü İletişim Bilgileri <br />
                    444 07 99 / 6128-6129-6105 <a href="#">lee@isikun.edu.tr</a>
                </td>
            </tr>
        </table>

    </form>
    @using (Html.BeginForm("UpdateProjectDeliveryCertificateStatus", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("formId", Model.FormId)
        if (Model.FormStatus.StatusName == "Pending")
        {
            <div class="d-flex justify-content-evenly p-3">
                <button class="btn btn-success" name="statusId" value="2">Accept</button>
                <button class="btn btn-danger" name="statusId" value="3">Reject</button>
            </div>
        }
        else if (Model.FormStatus.StatusName == "Accepted")
        {
            <div class="d-flex justify-content-evenly p-3">
                <button class="btn btn-primary" name="statusId" value="4">Approve</button>
            </div>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-primary" onclick="printDiv()">Print</button>
            </div>
        }
        else if (Model.FormStatus.StatusName == "Rejected")
        {
            <div class="alert alert-danger text-center h5 fw-bold w-75 m-auto">Project Rejected</div>
        }
        else if (Model.FormStatus.StatusName == "Approved")
        {
            <div class="alert alert-primary text-center h5 fw-bold w-75 m-auto">Project Approved</div>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-primary" onclick="printDiv()">Print</button>
            </div>
        }
    }
</div>


<script>
    function printDiv() {
        var printContents = document.getElementById('myform').innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>


