@model InformationTechnologiesDepartmentIS.Models.FormPlagiarismReport

@{
    ViewBag.Title = "ProjectPlagiarismReportFormDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container py-4">
    <form class="myform col col-sm-12 col-md-12 col-xl-8 bg-white mx-auto" id="myform">
        <table class="table table-bordered align-middle min-vh-100" style="width:auto;  border-color:black">
            <tr style="height:1em">
                <td colspan="2"><img src="~/Content/images/Logo.png" width="100%" alt="Logo"></td>
                <td class="fw-bold h2" style="color: rgb(39,39,128); text-align: center;">İNTİHAL TUTANAĞI</td>
            </tr>
            <tr>
                <td colspan="3">
                    Yüksek lisans Proje danışmanımın aşağıda belirtilen şekilde değiştirilmesi için gereğinin
                    yapılmasını izninize sunarım. Saygılarımla.
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Program Name</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent h-100 w-100 text-dark" type="text" id="programName" name="programName" value="@Model.GraduationProject.Program.ProgramName" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Öğrenci Numarası</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent h-100 w-100 text-dark" type="text" id="studentNumber" name="studentNumber" value="@Model.GraduationProject.Student.StudentNumber" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Adı Soyadı</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent w-100 text-dark" type="text" id="nameSurname" name="nameSurname" value="@Model.GraduationProject.Student.StudentFirstName @Model.GraduationProject.Student.StudentLastName" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Tarih İmza</td>
                <td>
                    <input class="border-0 bg-transparent text-dark" type="text" id="stdntDate" name="stdntDate" value="@DateTime.Now.ToString("dd.MM.yyyy")" disabled />
                </td>
                <td>İmza :</td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Proje Başlığı</td>
                <td colspan="2">
                    <textarea rows="3" class="border-0 bg-transparent w-100 text-dark align-middle" style="resize:none" id="projectTitle" name="projectTitle" disabled>@Model.GraduationProject.Title</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Bu tezde yer alan ve sunulan tüm bilgi ve bulguların akademik kurallar ve etik çerçeveye göre
                    sağlandığını ve sunulduğunu beyan ederim. Ayrıca; bu kurallar ve davranışların gerektirdiği şekilde
                    hareket ettiğimi, bu araştırmanın dışındaki tüm materyal ve sonuçlara tam olarak kaynak gösterdiğimi
                    ve atıfta bulunduğumu da beyan ederim.
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Tarih İmza</td>
                <td>
                    <input class="border-0 bg-transparent text-dark" type="text" id="Date" name="Date" value="@DateTime.Now.ToString("dd.MM.yyyy")" disabled />
                </td>
                <td>
                    imza:
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    I hereby declare that all information in this document/thesis has been obtained and presented in
                    accordance with the academic rules and ethical conduct. I also declare that, as required by these rules
                    and conduct, I have fully cited and referenced all material and results that are not original to this work.
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Tarih İmza</td>
                <td>
                    <input class="border-0 bg-transparent text-dark" type="text" id="Date2" name="Date2" value="@DateTime.Now.ToString("dd.MM.yyyy")" disabled />
                </td>
                <td>
                    İmza :
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Tezin Danışmanı</td>
                <td colspan="2">
                    <input class="border-0 bg-transparent w-100 text-dark" type="text" id="consultantName" name="consultantName" value="@Model.GraduationProject.Academician.AcademicianFirstName @Model.GraduationProject.Academician.AcademicianLastName" disabled />
                </td>
            </tr>
            <tr>
                <td class="text-end fw-bold">Tarih İmza</td>
                <td>
                    <input class="border-0 bg-transparent text-dark" type="text" id="cnsltntDate" name="cnsltntDate" value="" disabled />
                </td>
                <td>
                    İmza :
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Lisansüstü Eğitim Enstitüsü İletişim Bilgileri <br />
                    444 07 99 / 6128-6129-6105 <a href="#">lee@isikun.edu.tr</a>
                </td>
            </tr>
        </table>
    </form>
    @using (Html.BeginForm("UpdatePlagiarismReportProposalStatus", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("formId", Model.FormId)
        if (Model.FormStatus.StatusName == "Pending")
        {
            <div class="d-flex justify-content-evenly p-3">
                <button class="btn btn-success" name="statusId" value="2">Accept</button>
                <button class="btn btn-danger" name="statusId" value="3">Reject</button>
            </div>
        }
        else if (Model.FormStatus.StatusName == "Accepted")
        {
            <div class="d-flex justify-content-evenly p-3">
                <button class="btn btn-primary" name="statusId" value="4">Approve</button>
            </div>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-primary" onclick="printDiv()">Print</button>
            </div>
        }
        else if (Model.FormStatus.StatusName == "Rejected")
        {
            <div class="alert alert-danger text-center h5 fw-bold w-75 m-auto">Project Rejected</div>
        }
        else if (Model.FormStatus.StatusName == "Approved")
        {
            <div class="alert alert-primary text-center h5 fw-bold w-75 m-auto">Project Approved</div>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-primary" onclick="printDiv()">Print</button>
            </div>
        }
    }
</div>


<script>
    function printDiv() {
        var printContents = document.getElementById('myform').innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>



