@model InformationTechnologiesDepartmentIS.Models.ViewModels.AdministratorViewModels.ManageDepartmentViewModel

@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>



<div class="container-fluid px-4 mt-4">
    <h3>Control Departments</h3>
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Departments
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Campus Name</th>
                        <th>Faculty Name</th>
                        <th>Department Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var department in Model.Departments)
                    {
                        <tr>
                            <td>
                                <span style="float: left;"><b>@department.Faculty.Campus.CampusName</b></span>
                            </td>
                            <td>
                                <span id="facultyid_@department.Faculty.FacultyId" style="visibility: hidden">@department.Faculty.FacultyId</span>
                                <span style="float: left;"><b>@department.Faculty.FacultyName</b></span>
                            </td>
                            <td>
                                <span id="departmentid_@department.DepartmentId" style="visibility: hidden">@department.DepartmentId</span>
                                <span style="float: left;"><b>@department.DepartmentName</b></span>
                                <div class="btn-group" style="float: right;">
                                    <button type="button" class="btn btn-warning btn-sm rounded me-2" data-bs-toggle="modal" data-bs-target="#editModal">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm rounded me-2" data-bs-toggle="modal" data-bs-target="#removeModal">
                                        <i class="fas fa-trash-alt fa-xs"></i>
                                    </button>
                                </div>
                                <div style="clear: both;"></div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="">
                            <div class="btn-group" style="float: right;">
                                <button type="button" class="btn btn-success btn-sm rounded me-2" data-bs-toggle="modal" data-bs-target="#addModal" id="">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            @using (Html.BeginForm("AddDepartment", "Administrator", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addModalLabel">Add Department</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <b>Please write the name of the department to be added.</b>
                                <form>
                                    <div class="mb-3">
                                        <label for="itemName" class="form-label">Faculty Name:</label>
                                        @{
                                            var facultyList = new List<SelectListItem>();
                                            foreach (var faculty in Model.Faculties)
                                            {
                                                facultyList.Add(new SelectListItem
                                                {
                                                    Text = $"{faculty.FacultyName}",
                                                    Value = faculty.FacultyId.ToString(),
                                                    Selected = false
                                                });
                                            }
                                        }
                                        @Html.DropDownList("FacultyId", facultyList, "Select an Campus", new { @class = "form-select border border-secondary border-opacity-50" })
                                        @Html.ValidationMessage("FacultyId", "", new { @class = "text-danger fw-bold" })
                                        <label for="itemName" class="form-label">Faculty Name:</label>
                                        @Html.ValidationMessage("DepartmentName", "", new { @class = "text-danger" })
                                        @Html.TextBox("DepartmentName", "", new { @class = "form-control mt-2" })
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <script>
                $(document).ready(function () {
                    $(".btn-warning").click(function () {
                        var facultyId = $(this).closest("tr").find("[id^='facultyid_']").text().trim();
                        var departmentId = $(this).closest("tr").find("[id^='departmentid_']").text().trim();// DepartmentId değerini al
                        $("#EditFacultyId").val(facultyId); // Gizli alana ata
                        $("#EditDepartmentId").val(departmentId); // Gizli alana ata
                    });
                });
            </script>
            @using (Html.BeginForm("EditDepartment", "Administrator", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit Department</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <b>Please correct the values to be edited.</b>
                                <form>
                                    <div class="mb-3">
                                        <label for="itemName" class="form-label">Select Faculty:</label>
                                        @{
                                            var facultyList = new List<SelectListItem>();
                                            foreach (var faculty in Model.Faculties)
                                            {
                                                facultyList.Add(new SelectListItem
                                                {
                                                    Text = $"{faculty.FacultyName}",
                                                    Value = faculty.FacultyId.ToString(),
                                                    Selected = true
                                                });
                                            }
                                        }
                                        @Html.DropDownList("FacultyId", facultyList, new { @class = "form-select border border-secondary border-opacity-50" })
                                        @Html.ValidationMessage("FacultyId", "", new { @class = "text-danger fw-bold" })

                                        <label for="itemName" class="form-label">Department Name:</label>
                                        @Html.ValidationMessage("DepartmentName", "", new { @class = "text-danger" })
                                        @Html.TextBox("DepartmentName", "", new { @class = "form-control mt-2" })
                                        @Html.Hidden("DepartmentId", "", new { id = "EditDepartmentId" })
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <script>
                $(document).ready(function () {
                    $(".btn-danger").click(function () {
                        var departmentId = $(this).closest("tr").find("[id^='departmentid_']").text().trim(); // DepartmentId değerini al
                        $("#RemoveDepartmentId").val(departmentId); // Gizli alana ata
                    });
                });
            </script>
            @using (Html.BeginForm("RemoveDepartment", "Administrator", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="removeModalLabel">Remove Department</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <b>Are you sure you really want to delete this Department?</b>
                                <form>
                                    <div class="mb-3">
                                        <label for="itemName" class="form-label">Enter your password for confirmation:</label>
                                        @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                                        @Html.TextBox("Password", "", new { @class = "form-control mt-2", type = "password" })
                                        @Html.Hidden("DepartmentId", "", new { id = "RemoveDepartmentId" })
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>